/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/blog/tailwindcss-v4-alpha#css-first-configuration
 */

@import 'tailwindcss';

@theme {
  --font-family-display: 'Poppins', sans-serif;
  --font-family-sans: 'Poppins', sans-serif;
  --font-family-serif: 'Poppins', sans-serif;

  --default-font-family: 'Poppins', sans-serif;

  --bg-tmp: url('/tmp-bg.png');

  --color-offwhite: #cccbca;
}

@layer utilities {
  .bg-tmp {
    background-image: var(--bg-tmp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}

.content {
  background-image: url('/public/bg.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

@keyframes continuousWave {
  0% {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 8.33%,
      2% 8.27%,
      4% 8.1%,
      6% 7.81%,
      8% 7.43%,
      10% 6.96%,
      12% 6.42%,
      14% 5.83%,
      16% 5.21%,
      18% 4.58%,
      20% 3.97%,
      22% 3.39%,
      24% 2.88%,
      26% 2.43%,
      28% 2.08%,
      30% 1.83%,
      32% 1.69%,
      34% 1.67%,
      36% 1.77%,
      38% 1.98%,
      40% 2.3%,
      42% 2.72%,
      44% 3.21%,
      46% 3.77%,
      48% 4.38%,
      50% 5%,
      52% 5.62%,
      54% 6.23%,
      56% 6.79%,
      58% 7.28%,
      60% 7.7%,
      62% 8.02%,
      64% 8.23%,
      66% 8.33%,
      68% 8.31%,
      70% 8.17%,
      72% 7.92%,
      74% 7.57%,
      76% 7.12%,
      78% 6.61%,
      80% 6.03%,
      82% 5.42%,
      84% 4.79%,
      86% 4.17%,
      88% 3.58%,
      90% 3.04%,
      92% 2.57%,
      94% 2.19%,
      96% 1.9%,
      98% 1.73%,
      100% 1.67%
    );
  }
  33% {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 5%,
      2% 4.22%,
      4% 3.47%,
      6% 2.77%,
      8% 2.15%,
      10% 1.63%,
      12% 1.23%,
      14% 0.96%,
      16% 0.84%,
      18% 0.87%,
      20% 1.04%,
      22% 1.35%,
      24% 1.79%,
      26% 2.34%,
      28% 2.99%,
      30% 3.71%,
      32% 4.48%,
      34% 5.26%,
      36% 6.04%,
      38% 6.77%,
      40% 7.45%,
      42% 8.04%,
      44% 8.52%,
      46% 8.87%,
      48% 9.09%,
      50% 9.17%,
      52% 9.09%,
      54% 8.87%,
      56% 8.52%,
      58% 8.04%,
      60% 7.45%,
      62% 6.77%,
      64% 6.04%,
      66% 5.26%,
      68% 4.48%,
      70% 3.71%,
      72% 2.99%,
      74% 2.34%,
      76% 1.79%,
      78% 1.35%,
      80% 1.04%,
      82% 0.87%,
      84% 0.84%,
      86% 0.96%,
      88% 1.23%,
      90% 1.63%,
      92% 2.15%,
      94% 2.77%,
      96% 3.47%,
      98% 4.22%,
      100% 5%
    );
  }
  66% {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 0.5%,
      2% 0.55%,
      4% 0.7%,
      6% 0.94%,
      8% 1.27%,
      10% 1.67%,
      12% 2.13%,
      14% 2.63%,
      16% 3.16%,
      18% 3.69%,
      20% 4.21%,
      22% 4.7%,
      24% 5.14%,
      26% 5.52%,
      28% 5.82%,
      30% 6.03%,
      32% 6.14%,
      34% 6.16%,
      36% 6.08%,
      38% 5.9%,
      40% 5.63%,
      42% 5.27%,
      44% 4.85%,
      46% 4.38%,
      48% 3.86%,
      50% 3.33%,
      52% 2.8%,
      54% 2.29%,
      56% 1.82%,
      58% 1.39%,
      60% 1.04%,
      62% 0.77%,
      64% 0.59%,
      66% 0.51%,
      68% 0.52%,
      70% 0.64%,
      72% 0.85%,
      74% 1.15%,
      76% 1.53%,
      78% 1.97%,
      80% 2.46%,
      82% 2.98%,
      84% 3.51%,
      86% 4.04%,
      88% 4.54%,
      90% 5%,
      92% 5.4%,
      94% 5.73%,
      96% 5.97%,
      98% 6.12%,
      100% 6.17%
    );
  }
  100% {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 8.33%,
      2% 8.27%,
      4% 8.1%,
      6% 7.81%,
      8% 7.43%,
      10% 6.96%,
      12% 6.42%,
      14% 5.83%,
      16% 5.21%,
      18% 4.58%,
      20% 3.97%,
      22% 3.39%,
      24% 2.88%,
      26% 2.43%,
      28% 2.08%,
      30% 1.83%,
      32% 1.69%,
      34% 1.67%,
      36% 1.77%,
      38% 1.98%,
      40% 2.3%,
      42% 2.72%,
      44% 3.21%,
      46% 3.77%,
      48% 4.38%,
      50% 5%,
      52% 5.62%,
      54% 6.23%,
      56% 6.79%,
      58% 7.28%,
      60% 7.7%,
      62% 8.02%,
      64% 8.23%,
      66% 8.33%,
      68% 8.31%,
      70% 8.17%,
      72% 7.92%,
      74% 7.57%,
      76% 7.12%,
      78% 6.61%,
      80% 6.03%,
      82% 5.42%,
      84% 4.79%,
      86% 4.17%,
      88% 3.58%,
      90% 3.04%,
      92% 2.57%,
      94% 2.19%,
      96% 1.9%,
      98% 1.73%,
      100% 1.67%
    );
  }
}

.element-with-wave {
  animation: continuousWave 8s ease-in-out infinite;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  background-color: var(--background-site);
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 13rem;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar {
  background-color: var(--text-body);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}
.embla__controls {
  grid-template-columns: auto 1fr auto;
}
.embla__progress {
  justify-self: center;
  transition: opacity 0.3s ease-in-out;
  width: 8rem;
}

.embla__progress__bar {
  animation-name: autoplay-progress;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes autoplay-progress {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
